<?xml version='1.0' encoding='utf-8'?>
<widget id="de.bitsharesmunich.wallet" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BitShares Wallet</name>
    <description>
        Multiplatform BitShares wallet.
    </description>
    <author email="info@bitshares-munich.de" href="http://bitshares-munich.de/">
        BitShares Munich
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <plugin name="nl.x-services.plugins.socialsharing" version="4.3.16" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="blob:*" />
    <allow-intent href="http:*" />
    <platform name="android">
        <icon density="ldpi" src="www/app/assets/img/icon.PNG" />
        <icon density="mdpi" src="www/app/assets/img/icon.PNG" />
        <icon density="hdpi" src="www/app/assets/img/icon.PNG" />
        <icon density="xhdpi" src="www/app/assets/img/icon.PNG" />
        <icon density="xxhdpi" src="www/app/assets/img/icon.PNG" />
        <icon density="xxxhdpi" src="www/app/assets/img/icon.PNG" />
        <config-file parent="/*" target="config.xml">
            <feature name="Echo">
                <param name="android-package" value="org.apache.cordova.plugin.SocialSharing" />
            </feature>
        </config-file>
    </platform>
    <preference name="xwalkVersion" value="15+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
    <engine name="browser" spec="~4.0.0" />
    <engine name="android" spec="~5.1.0" />
</widget>
